a{
  text-decoration: none;
  color: #000;
}
th, td{
  padding: .8rem !important;
}
.header{
  padding: 5px 0px;
  background-color: #fff;
}
.header .logo{
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #dc3545, #24089f);
    -webkit-background-clip: text;
    color: transparent;
}
.productlistcard img{
  width: 100%;
  height: 170px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}
.productdetail{
  padding-top: 100px;
}
.productdetail .pthumb{
   max-height: 500px;
   object-fit: contain;
   width: 100%;
}
.banner{
  padding-top: 55px;
}
.banner .img-fluid{
  max-height:400px
}
.stars{
  color: #ffb21d;
}
.productlistcard .title{
  margin-bottom: 0;
  width:100%;
  color: #0C023E;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 5px 0 0 0;
}
.productlistcard .description{
    font-size: 14px;
    margin-bottom: 0;
    width: 100%;
    color: #0C023E;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 5px 0 0 0;
}
.shopingcart{
  padding-top: 100px;
}
.incdec{
  display: flex;
  align-items: center;
}
.incdec button{
  background-color: #d8d8d8;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border: none;
  color: #5e5e5e;
}
.incdec input{
  border: none;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  height: 30px;
}
.shoppingcart{
  padding-top: 100px;
}